<div class="container mt-5">
  <div class="row jumbo">
    <div class="col">
      <div id="productJumbotron" class="card jumbotron p-4 p-sm-5" style="background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url('/img/assortment-pieces-cake.jpg')">
        <h2 style="color: whitesmoke;"><span style="color: #068fff">Temukan</span> semua di sini!</h2>
        <h5 class="lead">Our products are made with the best quality and lots of love!</h5>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card" id="categoryCard">
        <div class="card-header">
          <h3 class="fw-bold">Kategori</h3>
        </div>
        <div class="card-body">
          <div class="btn btn-category d-grid text-start fw-bold category-basah" id="category-basah">
            <div><i class="bi bi-hammer me-2"></i>Kerajinan</div>
          </div>
          <div class="btn btn-category d-grid text-start fw-bold mt-2 category-kering" id="category-kering">
            <div><i class="fa-solid fa-cookie-bite me-2"></i>Makanan</div>
          </div>
          <div class="btn btn-category d-grid text-start fw-bold mt-2 category-kering" id="category-kering">
            <div><i class="bi bi-cup-straw me-2"></i>Minuman</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-wrap" id="productListContainer">
      <% products.forEach(product => { %>
      <a href="/products/<%= product._id %>" class="card product-card me-sm-3 mb-sm-3" style="text-decoration: none; color: rgb(81, 81, 81)">
        <img src="/uploads/<%= product.image_name %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title fw-bold" style="color: #80489c"><%= product.product_name %></h5>
          <h5 class="card-subtitle fw-bold">Rp <%= product.price.toLocaleString() %></h5>
          <p class="card-text excerpt mt-2"><%= (product.description).substring(0, 60) + "..." %></p>
          <div class="">
            <div class="btn btn-category badge"><i class="fa-solid <% if (product.category === "kue basah"){ %>
              fa-cake-candles
            <% } else {%> fa-cookie-bite <% } %> me-2"></i><%= product.category %></div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>
<script src="/js/script2.js"></script>
